@font-face {
    font-family: DMSans-Regular;
    src: url(./fonts/DMSans-Regular.ttf);
}
@font-face {
    font-family: DMSans-Bold;
    src: url(./fonts/DMSans-Bold.ttf);
}

.Card {
    max-width: 500px;
}

.card-header {
    border-radius : 12px;
    background-color:hsl(10, 79%, 65%);
    padding: 1.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 35px;
  }

.header-left {
    display: flex;
    flex-direction: column;
    color: white;
}
.span-top-left {
    font-family: DMSans-Regular;
    margin-bottom: 5px;
}
.span-bottom-left {
    font-family: DMSans-Bold;
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 1px;
}

.header-right {
    position: relative;
}

.span-top-right, .span-bottom-right {
    border-radius:50%;
    height: 2em;
    width: 2em;
    display: block;
}
.span-top-right {
    position: absolute;
    z-index: 2;
    border: 2px solid white;
    left: -50%;
}

.span-bottom-right {
    padding: 2px;
    background-color: hsl(25, 47%, 15%);
}

.expenses-detail {
    background:  hsl(33, 100%, 98%);
    padding: 1em 2em 2em 2em;
    border-radius: 12px;
}

h1 {
    font-family: DMSans-Regular;
    margin-bottom: 50px;
}
.week {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    border-bottom: 1px solid rgb(224 224 224 / 32%);
    padding-bottom: 1em;
}

.day {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
}

.amount {
    border-radius: 4px;
    width: 35px;
    cursor:pointer;
    transition: .4s all;
}


.amount:hover {
    opacity: 0.6;
}

.day span.amountValue {
    padding: 6px 8px ;
    background-color: hsl(25, 47%, 15%);
    border-radius: 2px;
    margin: auto;
    color: white;
    font-family: DMSans-Bold;
    font-weight: 400;
    position: absolute;
    bottom: 100%;
    width: max-content;
    box-sizing: border-box;
    margin-bottom: 5px;
    font-size: 13px;
}
.day:not(:last-child) {
    margin-right: 15px;
}

.day span {
    text-align: center;
    font-size: 12px;
    margin-top:5px;
}

.card-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.card-footer div {
    display: flex;
    flex-direction: column;
}

.footer-right {
    text-align: right;
    align-self: flex-end;
}

.footer-bottom-left {
    font-size: 30px;
    font-family: DMSans-Bold;
    margin-top: 5px;
}

.footer-top-right {
    font-family: DMSans-Bold;
}

.footer-top-left, .footer-bottom-right, .day span {
    color: rgba(90, 90, 90, 0.657);
}